$text-color-primary: #fff;
$text-color-secondary: #485564;

$primary-color: #2998ff;

$color-primary-light: lighten($primary-color, 20%);
$color-primary-dark: darken($primary-color, 30%);


$grey-background-color: #485564